@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    font-family: 'Raleway', arial, sans-serif;
    padding: 0;
    margin: auto;
}

.clearfix{
    content:"";
    display: table;
    width: 100%;
    clear:both;
}

div{
    box-sizing: border-box;
}


/* url - шлях до картинки, no-repeat - щоб не повторювалась, center- по горизонталі, top-по вертикалі,
cover- на всю ширину екрана */

header{
    background: url("./img/center_img.jpg") no-repeat center top / cover;
    height: 635px;
}

/* width - довжина від логотипу до іконок,
border (border: 10px solid red) - виділена область довжини червоним кольором,
margin 0 auto - посередині*/

.container{
    margin: auto;
}


.logo{

    float: left;
    margin: 20px 0px 0px 100px;

}

/* в одну строку - float, margin-top: 53px; - відстань від контура до слова */

.contant nav{
    float: right;
    margin-top: 40px;
}


.menu{
    padding: 0px;
    margin: 0px 0px 0px 0px;
    display: block;
    justify-content: right;
    color: #000000;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.menu .im{
    color: #D1D0CE;
    font-size: 40px;
    font-family: 'Raleway',arial,sans-serif;
}
/* звертаємось до всіх li з menu, margin-right: 56px - відстань між елементами*/

.menu li{
    float: left;
    display: block;
    margin-right: 40px;
    width: auto;
    color: dimgray;
}

/* text-decoration - щоб забрати підкреслювання, text-transform: uppercase; - великі букви */

.menu li a{
    color: #2C3539;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 5px;

}

h1{
    color: #484848;
    text-align: center;
    margin-top: 150px;
    font-weight: bold ;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 38px;
    font-weight: 700;

}

h1 .colortext{
    color: #0e7200;
}

h2{
    font-size: 14px;
    color: dimgray;
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway",arial,sans-serif;
    margin-top: 10px;
    font-weight: lighter;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}




.button_first{
    text-decoration: none;
    color: green;
    background: white;
    text-align: center;

}


.button_second {
    text-decoration: none;
    color: green;
    background: white;
    text-align: center;
    margin-top: 180px;
}

.input-append{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.span2{
    font-size: 30px;
    height: 50px;
    z-index: 1;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;

}

.btt{
    color: white;
    background: #4dadbb;
    margin: 0;
    padding: 4px;
    display: inline;
    font-size: 14px;
    width: 150px;
    height: 52px;
    position: absolute;
    margin-left: 0px;
    border: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.toggle{
    display: inline-block;
    font-size: 14px;
    width: 150px;
    height: 52px;
    color: #8b8b8b;
    margin-left: -150px;
    position: absolute;
    border-radius: 5px 0 0 5px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.actions {
    text-align: center;
    margin-top: 130px;
    vertical-align: middle;
}

.actions a {
    background-color: #ffffff;
    border-radius: 3px;
    color: green;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    margin: 20px;
    padding: 25px 40px ;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    padding-top: 5px;
}

.actions img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 10px;


}

.titles_second{
    padding-top: 95px;
}

.titles_second h2{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    color: #181717;
    margin-top: 100px;
}

.titles_second p{
    color: #8b8b8b;
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
}

.container{
    width: 80%;
    margin: 30px auto;
    overflow: hidden;

}

.container ul p{
    text-decoration: none;
    text-transform: none;
    font-family: 'Raleway', arial, sans-serif;
}
.container ul li {
    list-style: none;
    float: left;
    font: 10px/1.5 Verdata, Helvetica, sans-serifS;
    width: 26%;
    margin: 2% 2% 30px 2%;
}

.container ul li img{
    max-width: 100%;

}

.container ul li p{
    text-decoration: none;
    text-transform: none;
    color: #8b8b8b;
    text-align: center;
}

.ttx{

    text-decoration: underline;
    text-align: center;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 10px;
    margin-top: auto;
}

.ttx a{
    color: #4dadbb;
}

footer{
    background-color: #272727;
    color: white;
    margin: 0;
    padding: 0;
}

.footer_top_1{
    width: 100%;
    height: 120px;
    overflow: auto;
}

.footer_top_1  ul{
    text-align: center;
    justify-content: center;
    height: 0px;
    content: center;
}

.footer_top_1 ul li{
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: inline-block;
    justify-content: center;

}
.footer_top_1 ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin: 5px 20px;
    text-align: center;

}

.footer_top img{
    margin-left: 600px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

}

.footer_bottom{
    background-color: #323232;
    width: 100%;
    height: 40px;
    margin: 0;
    overflow: auto;
}

.footer_bottom p{
    margin-top: 4px;
    text-align: center;
}

/*  MEDIA  */

@media only screen and (max-width: 480px), (orientation: portrait) {
    .contant {
        width: 270px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container:photo-wall {
        width: 95%;
    }
}

@media only screen and (min-resolution: 150dpi) {
    .logo {
        background-image: url(" .../img/errr.png");
    }
}

@media only screen and (min-resolution: 150dpi) {
    .footer_top .logo {
        background-image: url(" .../img/icon_bottom.png);
    }
}

@media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
    .container h1, .footer_top .logo {
        font-size: 30px;
    }
}

@media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
    .container h2 {
        font-size: 10px;
    }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .contant, .container h1, .container h2, .footer_top, .footer_bottom, .footer_top .logo {
        float: left;
        width: 20em;
    }
